<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main_page.css">
    <script defer src="/static/js/main_page.js"></script>
    <title>main_page</title>
</head>

<body>
    <div class="background">
        <header></header>
        <section class="posts_section">
            <ul class="posts_box">
                <li>
                    <div class="title_box">
                        <a href='#'>메시 진짜 메쳤다</a>
                    </div>
                    <div class="content_min_box">
                        <a href="#">
                            <p class="content_min">메갓.....</p>
                        </a>
                    </div>
                    <div class="date_box">
                        <p>May 11, 2023</p>
                    </div>
                </li>
                <li>
                    <div class="title_box">
                        <a href='#'>내 생각엔 메시가 유일한 G.O.A.T</a>
                    </div>   
                    <div class="content_min_box">
                        <a href="#">
                            <p class="content_min">제.곧.내</p>
                        </a>
                    </div>
                    <div class="date_box">
                        <p>May 11, 2023</p>
                    </div>
                </li>
                <li>
                    <div class="title_box">
                        <a href='#'>날강두</a>
                    </div>
                    <div class="content_min_box">
                        <a href="#">
                            <p class="content_min">인성이 터져버렸다...</p>
                        </a>
                    </div>
                    <div class="date_box">
                        <p>May 11, 2023</p>
                    </div>
                </li>
                <li>
                    <div class="title_box">
                        <a href='#'>김민재 폼 오지고</a>
                    </div>
                    <div class="content_min_box">
                        <a href="#">
                            <p class="content_min">김민재 이렇게 잘하는데 다음 시즌에는 어느팀에 있으려나?</p>
                        </a>
                    </div>
                    <div class="date_box">
                        <p>May 11, 2023</p>
                    </div>
                </li>
                <li>
                    <div class="title_box">
                        <a href='#'>title</a>
                    </div>
                    <div class="content_min_box">
                        <a href="#">
                            <p class="content_min">post</p>
                        </a>
                    </div>
                    <div class="date_box">
                        <p>May 11, 2023</p>
                    </div>
                </li>
                <li>
                    <div class="title_box">
                        <a href='#'>title</a>
                    </div>
                    <div class="content_min_box">
                        <a href="#">
                            <p class="content_min">post</p>
                        </a>
                    </div>
                    <div class="date_box">
                        <p>May 11, 2023</p>
                    </div>
                </li>
                <li>
                    <div class="title_box">
                        <a href='#'>title</a>
                    </div>
                    <div class="content_min_box">
                        <a href="#">
                            <p class="content_min">post</p>
                        </a>
                    </div>
                    <div class="date_box">
                        <p>May 11, 2023</p>
                    </div>
                </li>
                <li>
                    <div class="title_box">
                        <a href='#'>title</a>
                    </div>
                    <div class="content_min_box">
                        <a href="#">
                            <p class="content_min">post</p>
                        </a>
                    </div>
                    <div class="date_box">
                        <p>May 11, 2023</p>
                    </div>
                </li>
                <li>
                    <div class="title_box">
                        <a href='#'>title</a>
                    </div>
                    <div class="content_min_box">
                        <a href="#">
                            <p class="content_min">post</p>
                        </a>
                    </div>
                    <div class="date_box">
                        <p>May 11, 2023</p>
                    </div>
                </li>
                <li>
                    <div class="title_box">
                        <a href='#'>title</a>
                    </div>
                    <div class="content_min_box">
                        <a href="#">
                            <p class="content_min">post</p>
                        </a>
                    </div>
                    <div class="date_box">
                        <p>May 11, 2023</p>
                    </div>
                </li>
                <li>
                    <div class="title_box">
                        <a href='#'>title</a>
                    </div>
                    <div class="content_min_box">
                        <a href="#">
                            <p class="content_min">post</p>
                        </a>
                    </div>
                    <div class="date_box">
                        <p>May 11, 2023</p>
                    </div>
                </li>
                <li>
                    <div class="title_box">
                        <a href='#'>title</a>
                    </div>
                    <div class="content_min_box">
                        <a href="#">
                            <p class="content_min">post</p>
                        </a>
                    </div>
                    <div class="date_box">
                        <p>May 11, 2023</p>
                    </div>
                </li>
                <li>
                    <div class="title_box">
                        <a href='#'>title</a>
                    </div>
                    <div class="content_min_box">
                        <a href="#">
                            <p class="content_min">post</p>
                        </a>
                    </div>
                    <div class="date_box">
                        <p>May 11, 2023</p>
                    </div>
                </li>
                <li>
                    <div class="title_box">
                        <a href='#'>title</a>
                    </div>
                    <div class="content_min_box">
                        <a href="#">
                            <p class="content_min">post</p>
                        </a>
                    </div>
                    <div class="date_box">
                        <p>May 11, 2023</p>
                    </div>
                </li>
                <li>
                    <div class="title_box">
                        <a href='#'>title</a>
                    </div>
                    <div class="content_min_box">
                        <a href="#">
                            <p class="content_min">post</p>
                        </a>
                    </div>
                    <div class="date_box">
                        <p>May 11, 2023</p>
                    </div>
                </li>
                <li>
                    <div class="title_box">
                        <a href='#'>title</a>
                    </div>
                    <div class="content_min_box">
                        <a href="#">
                            <p class="content_min">post</p>
                        </a>
                    </div>
                    <div class="date_box">
                        <p>May 11, 2023</p>
                    </div>
                </li>
                <li>
                    <div class="title_box">
                        <a href='#'>title</a>
                    </div>
                    <div class="content_min_box">
                        <a href="#">
                            <p class="content_min">post</p>
                        </a>
                    </div>
                    <div class="date_box">
                        <p>May 11, 2023</p>
                    </div>
                </li>
                <li>
                    <div class="title_box">
                        <a href='#'>title</a>
                    </div>
                    <div class="content_min_box">
                        <a href="#">
                            <p class="content_min">post</p>
                        </a>
                    </div>
                    <div class="date_box">
                        <p>May 11, 2023</p>
                    </div>
                </li>
                <li>
                    <div class="title_box">
                        <a href='#'>title</a>
                    </div>
                    <div class="content_min_box">
                        <a href="#">
                            <p class="content_min">post</p>
                        </a>
                    </div>
                    <div class="date_box">
                        <p>May 11, 2023</p>
                    </div>
                </li>
                <li>
                    <div class="title_box">
                        <a href='#'>title</a>
                    </div>
                    <div class="content_min_box">
                        <a href="#">
                            <p class="content_min">post</p>
                        </a>
                    </div>
                    <div class="date_box">
                        <p>May 11, 2023</p>
                    </div>
                </li>
                <li>
                    <div class="title_box">
                        <a href='#'>title</a>
                    </div>
                    <div class="content_min_box">
                        <a href="#">
                            <p class="content_min">post</p>
                        </a>
                    </div>
                    <div class="date_box">
                        <p>May 11, 2023</p>
                    </div>
                </li>
            </ul>
        </section>
        <footer></footer>
    </div>
</body>

</html>