<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/base.css">
    <script defer src="../static/js/main_page.js"></script>
    <title>footer</title>
</head>

<body>
    <footer>
        <p>STARTING DEV</p>
        <ul class="team_box">
            <li>
                <p>no.1 이찬주:</p>
                <a href="">블로그 주소</a>
            </li>
            <li>
                <p>no.2 방현재</p>
                <a href="">블로그 주소</a>
            </li>
            <li>
                <p>no.3 이도윤</p>
                <a href="">블로그 주소</a>
            </li>
            <li>
                <p>no.4 이주한</p>
                <a href="">블로그 주소</a>
            </li>
        </ul>
    </footer>
</body>

</html>