<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/base.css">
    <script defer src="../static/js/main_page.js"></script>
    <title>nav_bar</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="./main_page.html">AL[GOAL]RITHM</a>
        </div>
        <div class="users_func">
            <p>로그인</p>
            <p>|</p>
            <p>회원가입</p>
        </div>
    </header>
</body>

</html>