<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPage</title>
    <script src="/static/js/user_detail.js"></script>

    <link rel="stylesheet" href="/static/css/user_detail.css">
</head>

<body>
    <h1>마이페이지</h1>
    <div class="profile">
        <div class="profileImage">
        </div>
        <div class="profileInfo">
        </div>
        <div class="posts">
        </div>
        <div class="likes">
        </div>
        <div class="followers">
        </div>
        <div class="followings">
        </div>
    </div>
</body>

</html>